# Server Configuration
PORT=3000

# HTTPS Configuration (optional)
HTTPS_ENABLED=false
HTTPS_KEY_PATH=
HTTPS_CERT_PATH=

# MongoDB Configuration
MONGODB_URI=mongodb+srv://inverter-db-7c3cf106.mongo.ondigitalocean.com
MONGODB_USERNAME=doadmin
MONGODB_PASSWORD=n3c8t79q2iXle641
MONGODB_DATABASE=admin

# MQTT Configuration
MQTT_URL=mqtt://giabao-inverter.com:1883
MQTT_CLIENT_ID=nestjs-app
MQTT_USERNAME=giabao
MQTT_PASSWORD=0918273645
MQTT_ENCRYPTION_KEY=K8mN2pQ7vX4bE9fH3gJ6kL1mP5sT8wZ2

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# CMS Configuration
CMS_ADMIN_USERNAME=admin
CMS_ADMIN_PASSWORD=Q-nTcgiOCeho48EaE96wEw
CMS_JWT_SECRET=n6XV8WjbVPWcWS4vFwp2qqJ5riZgE6hkrxrbQkvdoUU
CMS_JWT_EXPIRES_IN=24h
# For development: http://localhost:5173
# For production: https://giabao-inverter.com
CMS_CORS_ORIGIN=https://giabao-inverter.com
